# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build/output
build/
dist/

# Distribution / packaging
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
ENV/

# Editor / IDE
.vscode/
.idea/

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log
